<h1>Créer un nouvel employé</h1>

        <form (ngSubmit)="submit()"  [ngFormOptions]="{updateOn: 'blur'}" appPseudoMatriculeValidator #f="ngForm">
          <div class="form-group">
            <label>Matricule</label>
            <input name="mat" [(ngModel)]="monFormulaire.matricule" class="form-control"  placeholder="Entrer un matricule" required #mat="ngModel">
          </div>
          <p class="alerte-formulaire" *ngIf="error && error.length>0">
            Une personne avec ce pseudo existe dejà
            </p>

          <div class="form-group">
            <label>Pseudo</label>
            <input name="pseudo" [(ngModel)]="monFormulaire.pseudo"  class="form-control"  placeholder="Entrer un pseudo" required minlength="2" #pseudo='ngModel'>
          </div>

          <p class="alerte-formulaire" *ngIf="f.errors != null" {{f.errors.errorIdentique}} >
            Un pseudo doit contenir au moins deux caractères
          </p>

          <div class="form-group">
            <label>Image</label>
            <input name="image" [(ngModel)]="monFormulaire.imageURL"  class="form-control"  placeholder="Entrer une image" required #image ='ngModel'>
          </div>

          <p class="alerte-formulaire" *ngIf="image.dirty && image.invalid">
              Image requise
            </p>

          <button type="submit" class="btn btn-primary" [disabled]="mat.invalid || pseudo.invalid">Ajouter</button>

        </form>
