<div class="container">
<h2>Créer un nouveau collègue</h2>
        <form (ngSubmit)="submit()" #monForm="ngForm">
          <div class="form-group">
            <label>Matricule</label>
            <input class="form-control" [(ngModel)]="nouveauCollegue.matricule" name="matricule" #matricule="ngModel" required  (focus)="initMessageErreur()">
            <p *ngIf="matricule.dirty && matricule.invalid">
              vous devez renseignez votre matricule.
            </p>

          </div>
            <label>Pseudo</label>
            <input class="form-control" [(ngModel)]="nouveauCollegue.pseudo" name="pseudo" #pseudo="ngModel" required minlength="2">
            <p *ngIf="pseudo.dirty && pseudo.invalid">
              votre pseudo n'est pas valide.
            </p>

          <div class="form-group">
            <label>URL image</label>
            <input class="form-control" [(ngModel)]="nouveauCollegue.imageUrl" name="imageUrl" #imageUrl="ngModel">
          </div>
            <button type="submit" [disabled]="!monForm.valid">Ajouter</button>
            <p *ngIf="erreur && erreur.length>0">
              {{erreur}}
            </p>
            <p *ngIf="enregistrer && enregistrer.length>0">
              {{enregistrer}}
            </p>
        </form>
      </div>
