
  <ul class="list-unstyled">
    <li class="media" *ngFor="let v of votes; let i = index">
      <img class="mr-3" [src]="v.collegue.imageUrl" height=120px alt="Generic placeholder image">
        <div class="media">
            <div class="container" style="text-align: left" >
             <h5 class="mt-0 mb-1" >{{v.collegue.pseudo |  uppercase}}</h5>
              <div class="row">
               {{v.collegue.pseudo}}{{v.avis | historique}}{{v.collegue.score}}
              </div>
              <div class="row" style="margin-top: 10px">
                <button type="button" class="btn btn-danger" (click)="supprimer(i)">Supprimer</button>
              </div>
            </div>
        </div>
    </li>
  </ul>


