.btn-danger{
    margin-right:10px;
    margin-left:10px;
    margin-bottom:10px;
}

.btn-dark{
    margin-left:10px;
    margin-right:10px;
    margin-bottom:10px;
}

#boutons{
    margin-top:20px;
    margin-bottom:20px;
    vertical-align: middle;
}
