<div class="card-group">
    <div class="card">
      <img class="card-img-top" [src]=collegue.imageURL alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{collegue.pseudo}}</h5>
        <h5 class="card-title">{{collegue.score}}</h5>
        <p class="card-text">{{collegue.prenom}}</p>
        <p class="card-text">{{collegue.email}}</p>
      </div>
      <div class="card-footer">
        <app-avis style="text-align: center" (avisEmis)="traiterAvisEmis($event)"></app-avis>
      </div>
  </div>
